@import "tailwindcss";

@layer base {
  :root {
    --font-ui: "Iosevka", monospace;
    --font-ui-size: 15px;
  }

  html {
    font-family: var(--font-ui);
    font-size: var(--font-ui-size);
  }

  * {
    box-sizing: border-box;
  }

  html,
  body {
    overflow: hidden;
  }

  button {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
  }
  button:disabled {
    opacity: 0.25;
  }
}
